/* 아티스트 목록 */
.artist {
  width: 100%;
  height: 600px;
}
.artist h1{
    font-size: 23px;
    font-weight: bold;
    text-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 1);
}
.artist .inner {
  width: 100%;
  height: 600px;
  display: grid;
  place-items: center;
  min-height: 50vh;
  background: #ffffff;
  color: gray;
  text-align: center;
  font-family: sans-serif;
}
.card-list > div {
  width: 10vw;
  max-width: 200px;
  height: 20vh;
  background: red;
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: inline-block;
  margin: 0 0.5rem;
  filter: grayscale(1) opacity(0.1) contrast(200%);
  transition: 0.5s;
  /* transform: skewY(-10deg); */
  z-index: -1;
}

.artist .inner .highlight {
  filter: grayscale(0) opacity(1);
  transform: scale(1.1);
  box-shadow: 0 25px 50px black;
  z-index: 100;
}

@media (orientation: portrait) {
  body:before {
    /* content: "Up/Down arrows to move"; */
  }

  #artist-card {
    width: 75vw;
    max-width: 75vw;
    height: 20vh;
    display: block;
    margin: 1rem 0;
    background-size: 100% auto;
    background-position: 50% 0%;
    transform: skewX(-10deg);
  }
  #artist-card:nth-child(1) {
    background-position: 50% 10%;
  }
  #artist-card:nth-child(3) {
    background-position: 50% 20%;
  }
  #artist-card:nth-child(4) {
    background-position: 50% 10%;
  }
}

#artist-card:nth-child(1) {
  background-color: dodgerblue;
  background-image: url(../images/artist_aespa.webp);
}
#artist-card:nth-child(2) {
  background-color: red;
  background-image: url(../images/artist_bts.webp);
}
#artist-card:nth-child(3) {
  background-color: purple;
  background-image: url(../images/artist_ive.webp);
}
#artist-card:nth-child(4) {
  background-color: darkorange;
  background-image: url(../images/artist_lesserafim.webp);
}
#artist-card:nth-child(5) {
  background-color: darkorange;
  background-image: url(../images/artist_newjeans.webp);
}
#artist-card:nth-child(6) {
  background-color: darkorange;
  background-image: url(../images/artist_seveteen.webp);
}
#artist-card:nth-child(7) {
  background-image: url(../images/artist_stayc.jpg);
  background-size: cover;
}
#artist-card:nth-child(8) {
  background-color: darkorange;
  background-image: url(../images/artist_txt.webp);
}
#artist-card:nth-child(9) {
  background-color: darkorange;
  background-image: url(../images/artist_itzy.webp);
}
#artist-card:nth-child(10) {
  background-color: darkorange;
  background-image: url(../images/artist_monstax.webp);
}
#artist-card:nth-child(11) {
  background-color: darkorange;
  background-image: url(../images/artist_twice.webp);
}
#artist-card:nth-child(12) {
  background-color: darkorange;
  background-image: url(../images/artist_nmixx.webp);
  background-size: cover;
}
#artist-card:nth-child(13) {
  background-color: darkorange;
  background-image: url(../images/artist_straykids.webp);
}
#artist-card:nth-child(14) {
  background-color: darkorange;
  background-image: url(../images/artist_ateez.webp);
  background-size: cover;
}

#artist-card::after{
  content: "NAME";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  color: white;
  text-shadow: 3px 3px #555;
}
#artist-card:nth-child(1):after {
  content: "AESPA";
}
#artist-card:nth-child(2):after {
  content: "BTS";
}
#artist-card:nth-child(3):after {
  content: "IVE";
}
#artist-card:nth-child(4):after {
  content: "LESSERAFIM";
}
#artist-card:nth-child(5):after {
    content: "NEWJEANS";
  }
  #artist-card:nth-child(6):after {
    content: "SEVENTEEN";
  }
  #artist-card:nth-child(7):after {
    content: "STAYC";
  }
  #artist-card:nth-child(8):after {
    content: "TXT";
  }
  #artist-card:nth-child(9):after {
    content: "ITZY";
  }
  #artist-card:nth-child(10):after {
    content: "MONSTA X";
  }
  #artist-card:nth-child(11):after {
    content: "TWICE";
  }
  #artist-card:nth-child(12):after {
    content: "NMMIX";
  }
  #artist-card:nth-child(13):after {
    content: "STRAY KIDS";
  }
  #artist-card:nth-child(14):after {
    content: "ATEEZ";
  }
@media all and (max-width: 1680px) {
}

@media all and (max-width: 1280px) {
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 760px) {
}
@media all and (max-width: 480px) {
}
