/* 캠페인 */
@media all and (max-width: 1680px) {
}

@media all and (max-width: 1280px) {
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 760px) {
}
@media all and (max-width: 480px) {
}
/* 작업 */

.campaign {
  /* width: calc(96% / 3); */
  width: 100%;
  height: 900px;
  position: relative;
  display: block;
}
.all_campaign {
  flex-wrap: wrap;
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.box {
  opacity: 1;
  display: block;
  position: relative;
  padding: 20px;
  width: calc(90% / 3);
  border-radius: 3px;
}
.box img {
  opacity: 1;
  width: 550px;
  height: 280px;
  border-radius: 10px;
}
.box p {
  font-size: 20px;
  font-weight: bold;
  font-family: "Cafe24Oneprettynight";
}
.campaign_percent {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
/* 호버 이미지 */
.campaign_box6{
  opacity: 1;
}
.box_6_back {
  opacity: 1;
  z-index: 99;
  background: url(../images/s_IU.jpg);
}
/* 바 */
.bar {
  width: 100%;
  height: 10px;
  background-color: #d9d9d9;
  border-radius: 5px;
}
.bar span {
  position: relative;
  display: block;
  z-index: 99;
  width: 60%;
  height: 10px;
  background-color: #a583c8;
  border-radius: 5px;
}
.bar_10 {
  width: 100%;
  height: 10px;
  background-color: #d9d9d9;
  border-radius: 5px;
}
.bar_10 span {
  position: relative;
  display: block;
  z-index: 99;
  width: 10%;
  height: 10px;
  background-color: #a583c8;
  border-radius: 5px;
}
.bar_30 {
  width: 100%;
  height: 10px;
  background-color: #d9d9d9;
  border-radius: 5px;
}
.bar_30 span {
  position: relative;
  display: block;
  z-index: 99;
  width: 30%;
  height: 10px;
  background-color: #a583c8;
  border-radius: 5px;
}
.bar_70 {
  width: 100%;
  height: 10px;
  background-color: #d9d9d9;
  border-radius: 5px;
}
.bar_70 span {
  position: relative;
  display: block;
  z-index: 99;
  width: 80%;
  height: 10px;
  background-color: #a583c8;
  border-radius: 5px;
}
.bar_80 {
  width: 100%;
  height: 10px;
  background-color: #d9d9d9;
  border-radius: 5px;
}
.bar_80 span {
  position: relative;
  display: block;
  z-index: 99;
  width: 80%;
  height: 10px;
  background-color: #a583c8;
  border-radius: 5px;
}
.bar_90 {
  width: 100%;
  height: 10px;
  background-color: #d9d9d9;
  border-radius: 5px;
}
.bar_90 span {
  position: relative;
  display: block;
  z-index: 99;
  width: 80%;
  height: 10px;
  background-color: #a583c8;
  border-radius: 5px;
}
