/* 공통요소 */
.clearfix::after {
    position: relative;
    display: block;
    width: 100%;
    clear: both;
  }
  
  .inner {
    position: relative;
    width: 100%;
    padding: 0px 50px;
    margin: 0 auto;
    max-width: 1620px;
    height: 100%;
  }