/* 총 모금액 */

.donation {
  width: 100%;
  height: 170px;
}
.cheering p {
  font-size: 35px !important;
  font-weight: 900;
}
.cheering::after{
  background-color: #3b4212;
  width: 120px;
  display: block;
  height: 50px;
  border-radius: 10px;
  position: relative;
}
.donation_box {
  margin: 0 auto;
  position: relative;
  display: flex;
  width: 100%;
  height: 170px;
  justify-content: space-evenly;
  align-items: center;
}
.donation_box p {
  font-family: "AppleSDGothicNeo";
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  /* font-weight: bold; */
  color: #3b4212;
  width: 100%;
}
#fandomslide2 .donation_box p {
  font-family: "AppleSDGothicNeo";
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  color: #4b2e61;
  width: 100%;
}
#fandomslide3 .donation_box p {
  font-family: "AppleSDGothicNeo";
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  color: #711f63;
  width: 100%;
}
.amount{
  display: flex;
}
.amount p {
  font-family: "AppleSDGothicNeo";
  color:#555e23;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  padding-right: 20px;
}
#fandomslide2 .amount p {
  font-family: "AppleSDGothicNeo";
  color:#583672;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  padding-right: 20px;
}
#fandomslide3 .amount p {
  font-family: "AppleSDGothicNeo";
  color:#ad3098;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  padding-right: 20px;
}
.amount span {
  /* display: block; */
  color: #7a8a20;
  padding-left: 50px;
  font-weight: bold;
  font-size: 30px;
}
#fandomslide2 .amount span {
  /* display: block; */
  color:#734695;
  padding-left: 50px;
  font-weight: bold;
  font-size: 30px;
}
#fandomslide3 .amount span {
  /* display: block; */
  color:#d66cc5;
  padding-left: 50px;
  font-weight: bold;
  font-size: 30px;
}
/* 반응형 */
@media all and (max-width: 1680px) {
  .donation_box p {
    transition: all 0.8s;
    font-size: 20px;
  }
}

@media all and (max-width: 1280px) {
  .donation_box p {
    transition: all 0.8s;
    font-size: 20px;
  }
}
@media all and (max-width: 1024px) {
  .donation_box p {
    transition: all 0.8s;
    font-size: 15px;
  }
}
@media all and (max-width: 760px) {
  .donation_box p {
    transition: all 0.8s;
    font-size: 12px;
  }
}
@media all and (max-width: 480px) {
  .donation_box p {
    transition: all 0.8s;
    font-size: 10px;
  }
}
