/* 팬덤 */
.fandom {
  width: 100%;
  height: 600px;
  margin-bottom: 120px;
}
#fandombox {
  width: 100%;
  height: 600px;
  display: flex;
}
#fandomslide1 {
  padding-left: 120px;
  background: radial-gradient(
    ellipse farthest-corner at 10% 10%,
    #fdff9b 10%,
    #fdff9c70 50%,
    #e4e72400
  );
  /* background: url("../images/fandom_background.png")no-repeat; */
  background-size: cover;

  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
}
#fandomslide2 {
  padding-left: 120px;
  background: radial-gradient(
    ellipse farthest-corner at 10% 10%,
    #c89fff 10%,
    #e4b4ff 50%,
    #e4e72400
  );
  /* border-radius: 0 50% 50% 0; */
}
#fandomslide3 {
  padding-left: 120px;
  background: radial-gradient(
    ellipse farthest-corner at 10% 10%,
    #f8b0ff 10%,
    #ffd9f9 50%,
    #e4e72400
  );
}
.rank {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}
.fandom
  .swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  margin-top: 30px;
  position: relative;
  display: block;
}
/* .fandom
  .swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet:nth-child(1) {
  background-color: #ffffff;
} */

.fandom
  .swiper-pagination-clickable
  .swiper-pagination-bullet:nth-child(1)::after {
  content: "1";
}
.fandom
  .swiper-pagination-clickable
  .swiper-pagination-bullet:nth-child(2)::after {
  content: "2";
}
.fandom
  .swiper-pagination-clickable
  .swiper-pagination-bullet:nth-child(3)::after {
  content: "3";
}

/* 랭킹내용 */
.ranktitle {
  /* font-style: italic; */
  font-family: "Pretendard-Regular";
  font-weight: 900;
}
.ranktxt {
  width: 50%;
  height: 100%;
  min-width: 580px;
  /* display: block; */
  /* background-color: #6b6b6b; */
}
.rankname {
  text-align: left;
}
.ranktxt h2 {
  text-align: left;
  font-size: 60px;
  margin-top: 55px;
  line-height: 60px;
  color: #333;
  font-weight: 500;
}
.ranktxt h1 {
  font-size: 63px;
  color: rgb(161, 132, 0);
  font-weight: bold;
}
#fandomslide2 .ranktxt h1 {
  color: #8d5cb2;
}
#fandomslide3 .ranktxt h1 {
  color: #d158bd;
}
.ranktxt > h1 > span {
  font-size: 45px;
}
.ranklist {
  margin-top: 30px;
  width: 100%;
  margin-bottom: 30px;
}
.ranklist li {
  font-size: 22px;
  font-weight: 600;
  padding: 10px 20px;
  margin-left: 10px;
  position: relative;
  text-align: left;
}
.ranklist li::before {
  content: "";
  display: block;
  position: absolute;
  top: 22px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: black;
}
/* 랭킹순서버튼  */
#fandombtn {
  width: 100px;
  position: absolute;
  display: inline-block;
  top: 40%;
  transform: translateY(-15%);
  padding-left: 40px;
}
/* 보러가기 버튼 */
.rankbtn1 {
  width: 200px;
  height: 60px;
  border-radius: 20px;
  background-color: #e4e724;

  cursor: pointer;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
#fandomslide2 .rankbtn1 {
  background-color: #8d5cb2;
}
#fandomslide3 .rankbtn1 {
  background-color: #e769d2;
}
.rankbtn1 p {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.rankbtn2 {
  margin-left: 50px;
  width: 200px;
  height: 60px;
  border-radius: 20px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.rankbtn2 p {
  color: #5c5c5c;
  font-weight: bold;
  font-size: 20px;
}

/* 랭킹이미지 */
.fandomimg {
  display: block;
  height: 100%;
  width: 100%;
}
.imgbox {
  position: relative;
  height: 640px;
  overflow: hidden;
}
.imgbox li {
  text-indent: -99999;
  display: block;
  position: absolute;
  border: 2px solid #394057;
}
.imgbox li span {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.imgbox li.active {
  border-color: #aa4200;
}

.fandom .swiper-slide {
  display: flex;
}
.fandom .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.imgbox .starimg {
  width: 400px;
  height: 400px;
  -webkit-border-radius: 400px;
  -moz-border-radius: 400px;
  border-radius: 50%;
  background: url("../images/fandom_iu.jpg") no-repeat;
  background-size: cover;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  box-shadow: 0 0 50px #e4e724;
  z-index: 100;

  transition: all 0.2s ease-in;
  position: relative;
}
#fandomslide2 .imgbox .starimg {
  background: url("../images/fandom_v.jpg") no-repeat;
  background-size: cover;
  background-position-y: -50px;
  -webkit-box-shadow: 0 0 50px #8d5cb2;
  -moz-box-shadow: 0 0 50px #8d5cb2;
  box-shadow: 0 0 50px #8d5cb2;
}
#fandomslide3 .imgbox .starimg {
  background: url("../images/fandom_taeyeon.png") no-repeat;
  background-size: cover;
  background-position-y: -50px;
  -webkit-box-shadow: 0 0 50px #e769d2;
  -moz-box-shadow: 0 0 50px #e769d2;
  box-shadow: 0 0 50px #e769d2;
}
.imgbox .starimg span {
  width: 480px;
  height: 480px;
  border-radius: 50%;
  border: 1px dotted #8d5cb2;
  position: relative;
  top: -10%;
  left: -10%;
  transform: translate(-50%, -50%);
  animation: rotate 10s linear infinite;
}
.imgbox .starimg span p {
  background-color: #ffec46;
  top: 45px;
  left: 45px;
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  animation: rotate 10s linear infinite;
  border-radius: 50%;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media all and (max-width: 1680px) {
}

@media all and (max-width: 1280px) {
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 760px) {
}
@media all and (max-width: 480px) {
}
